@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700,800');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

.header h2{
    font-size: 24px;
    color: #F9FAF8;
}

.header h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header p{
    font-size: 18px;
    color: #E5E7EB;
}

.header-nav-bar {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}


nav li {
    margin-left: 16px;
}

.header-content{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%;
}

button{
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    font-size: 16px;
}

.header-content-left{
    width: 47.5%;
    
}

.header-content-right{
    display: flex;
    width: 47.5%;
    background-color: grey;
    height: 100;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.content h2 {
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    color: #1F2937;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    font-size: 18px;
    color: #656669;
    text-align: center;
}

.card .square {
    border: 4px solid #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.quote-container p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-container h4{
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: #1F2937;
}

.sign-up-container {
    background-color: #3882F6;
    border-radius: 8px;
    margin: 5%;
    padding: 5%;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up-container h4 {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

.sign-up-container p {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.sign-up-container-right p {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 24px 8px 24px;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5%;
    display: flex;
    justify-content: center;
}